<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>WCG</title>
    <link type="text/css" rel="stylesheet" href="/static/wcg/style/style.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <div style="text-align: center;" id="tit">
        <p style="font-size: 48px">Winter Card-Game</p>
        <button id="start">开始吧</button>
        <button id="skip">跳过动画</button>
    </div>
    <img src="/static/wcg/img/bruf.png" width="500" height="750" style="position: absolute; left: 50px; top: 250px;" id="pic">
    <img src="/static/wcg/img/shanz.png" style="display: none; z-index: 3; position: absolute; left: -250px; top: -76px; transform: rotate(-30deg);" height="2000" width="2000" id="sz">
    <script>
        var cardcost = [1,1,2,8,4,6];
        var stat = 0,cards = 12;
        function updown (a,uod) {
            document.getElementById('pic').style = "position: absolute; z-index: 1; left: 50px; top: " + ("" + a) + "px;";
            setTimeout(function () {
                if(stat == 1) {
                    document.getElementById('pic').style = "display: none;";
                    return;
                }
                var tmp = a;
                a += uod;
                if(a == 219) updown(220, 1);
                else if(a == 241) updown(240, -1);
                else updown(a, uod);
            }, 25);
        }
        updown(230, 1);
        function szt (degr) {
            if(degr == 180) {
                document.getElementById('sz').style = "display: none;";
                document.location.href="/play";
                return;
            }
            if(degr == -70) stat = 1;
            document.getElementById('sz').style = "z-index: 3; position: absolute; left: -250px; top: -76px; transform: rotate(" + ("" + degr) + "deg);";
            setTimeout(function () {
                szt(degr + 1);
            }, 25);
        }
        document.getElementById('start').onclick = function () {
            document.getElementById('tit').style = "display:none;";
            szt(-180);
        }
        $(function(){
            $('#skip').on('click', function(){
                document.location.href="/play";
            });
        });
    </script>
</body>
</html>