<!DOCTYPE html>
<head>
    <title>WCG预加载</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/task/static/wcg/style/style.css" type="text/css">
</head>
<body>
<h1>待所有图片加载完毕后返回即可。</h1><br>
<button onclick="back()">返回</button><br><br>
<img src="/static/wcg/img/card-back.png">&nbsp;&nbsp;
<img src="/static/wcg/img/card-backn.png">&nbsp;&nbsp;
<img src="/static/wcg/img/0.png">&nbsp;&nbsp;
<img src="/static/wcg/img/1png">&nbsp;&nbsp;
<img src="/static/wcg/img/2.png">&nbsp;&nbsp;<br>
<img src="/static/wcg/img/3.png">&nbsp;&nbsp;
<img src="/static/wcg/img/4.png">&nbsp;&nbsp;
<img src="/static/wcg/img/5.png">&nbsp;&nbsp;
<img src="/static/wcg/img/6.png">&nbsp;&nbsp;
<img src="/static/wcg/img/7.png">&nbsp;&nbsp;<br>
<img src="/static/wcg/img/8.png">&nbsp;&nbsp;
<img src="/static/wcg/img/9.png">&nbsp;&nbsp;
<img src="/static/wcg/img/10.png">&nbsp;&nbsp;
<img src="/static/wcg/img/11.png">&nbsp;&nbsp;
<img src="/static/wcg/img/12.png">&nbsp;&nbsp;<br>
<img src="/static/wcg/img/13.png">&nbsp;&nbsp;
<img src="/static/wcg/img/14.png">&nbsp;&nbsp;
<img src="/static/wcg/img/15.png">&nbsp;&nbsp;
<img src="/static/wcg/img/16.png">&nbsp;&nbsp;
<img src="/static/wcg/img/17.png">&nbsp;&nbsp;<br>
<img src="/static/wcg/img/18.png">&nbsp;&nbsp;
<img src="/static/wcg/img/19.png">&nbsp;&nbsp;
<img src="/static/wcg/img/20.png">&nbsp;&nbsp;
<img src="/static/wcg/img/21.png">&nbsp;&nbsp;
<img src="/static/wcg/img/22.png">&nbsp;&nbsp;<br>
<img src="/static/wcg/img/23.png">&nbsp;&nbsp;
<img src="/static/wcg/img/24.png">&nbsp;&nbsp;
<img src="/static/wcg/img/25.png">&nbsp;&nbsp;
<img src="/static/wcg/img/26.png">&nbsp;&nbsp;
<img src="/static/wcg/img/27.png">&nbsp;&nbsp;<br>
<img src="/static/wcg/img/28.png">&nbsp;&nbsp;
<script>
    function back() {
        window.location.href = "/wcg";
    }
</script>
</body>