<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>讨论区</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/todo/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/todo/css/common.css">
    <link rel="stylesheet" href="/static/todo/css/index.css">
    <link rel="stylesheet" href="/static/todo/css/form.css">
</head>
<body>
<div class="mask"></div>
<div id="bg"></div>
<div id="container" class="container">
    <header>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margin0 padding0 width28 gobackWrap">
            <a href="/todo" class="goBack">
                <img src="/static/trans/images/back.png">
                <span class="goBackIndex">返回列表</span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hidden-xs wel">
            <img src="/static/todo/images/avatar.png">
            <span class="welcomtitle">欢迎使用{{ t_username }}的工具箱</span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 pull-right">
            <div class="pull-right welcomt"></div>
        </div>
    </header>
    <div class="main row">
        <div class="clearfix"></div>
        <div id="content" style="height: auto; width: auto">
            <div style="margin-bottom:30px" class="public cont clearfix">
                <ul>
                    {% for item in t_todo_list %}
                    <li class="listItem clearfix">
                        <p>
                        <span class="time">{{item.date}}</span>
                        <a class="note">
                            <span class="biancheng object">
                                {% if item._id == t_id %}【{{item.subject}}】{% endif %}</span>
                            <span class="biancheng object">【by&nbsp;&nbsp;{{item.owner}}】</span>
                            <span class="noteCont">{% set s = '<br>'.join(item.content.split('\n')) %}{{s|safe}}</span>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <form action="reply_check" method="post">
                <input type="hidden" name="id" value="{{t_id}}">
                <div class="textareaBox clearfix" >
                    <label class="fl" style="width: auto" for="contText">回复：</label>
                    <textarea name="content" id="contText" style="width:400px; height:120px" required></textarea>
                    <label class="submitLabel" for="sub"></label>
                    <input id="sub" type="submit" value="">
                </div>
            </form>
        </div>
    </div>
</div>
<div id="footer">
    COPYRIGHT© {{t_username}} 2019
</div>
<script src="/static/todo/js/jquery-3.3.1.min.js"></script>
</body>
</html>
